<!--
  Generated template for the ReportList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="navBarColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title no-padding >
      <ion-datetime no-padding displayFormat="MMMM YYYY" [(ngModel)]="datePickerValue" (ionChange)="onDatePickerChange()"
      cancelText="Cancelar" doneText="OK"  [max]="maxDatePickerValue"
      monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"></ion-datetime>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="muliSelectEnabled" (click)="onRemoveSelectedClick()">
        <ion-icon name="trash" color="orangeColor"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="!muliSelectEnabled" (click)="onAddClick()">
        <ion-icon name="add" color="orangeColor"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding padding-bottom>
  <div *ngFor="let report of reports">
    <div *ngIf="muliSelectEnabled && report.selected" (click)="onSelectClick(report)" 
      style="background: rgba(24, 114, 136, 0.2); position: absolute; width: 100%; height: 146px; z-index: 999"></div>
    <ion-card (press)="onPress(report)" (click)="onSelectClick(report)">
      <ion-card-content no-padding>
        <ion-item-divider color="navBarColor">
          Dia: 10
        </ion-item-divider>
        <ion-row padding>
          <ion-icon name="clock" padding-right></ion-icon>{{ formatHours(report.hours, report.minutes) }} <br>
          <ion-icon name="book" *ngIf="report.publications" padding-right padding-left></ion-icon>{{ report.publications }} <br>
          <ion-icon name="film" *ngIf="report.videos" padding-right padding-left></ion-icon>{{ report.videos }} <br>
          <ion-icon name="bookmark" *ngIf="report.revisits" padding-right padding-left></ion-icon>{{ report.revisits }} <br>
          <ion-icon name="school" *ngIf="report.studies" padding-right padding-left></ion-icon>{{ report.studies }}
        </ion-row>
      </ion-card-content>
      <ion-row no-padding>
        <button ion-button clear small color="navBarColor" icon-left (click)="onEditClick(report)">
        <ion-icon name='create'></ion-icon>
          Editar
      </button>
        <button ion-button clear small color="orangeColor" icon-left (click)="onRemoveClick(report)">
        <ion-icon name='trash'></ion-icon>
          Remover
      </button>
      </ion-row>
    </ion-card>
  </div>
</ion-content>