<!--
  Generated template for the ReportList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Janeiro 2017</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <!--<ion-list>
    <button ion-item *ngFor="let report of reports" (click)="itemSelected(report)">
      <div> 
         Horas: {{ report.hours }} <br>
         Publicações: {{ report.publications }} <br>
         Vídeos: {{report.videos}} <br>
         Revisitas: {{ report.revisits}} <br>
         Estudos: {{ report.studies}}
      </div>
   

  </button>
  </ion-list>-->
  <ion-card *ngFor="let report of reports">
    <ion-card-content>
      <ion-card-title background="green">
        Dia: :D
      </ion-card-title>
      <ion-row>
        <ion-icon name="clock" padding-right></ion-icon>{{ report.hours }} <br>
        <ion-icon name="book" padding-right padding-left></ion-icon>{{ report.publications }} <br>
        <ion-icon name="film" padding-right padding-left></ion-icon>{{ report.videos }} <br>
      </ion-row>
      <ion-row>
        <ion-icon name="bookmark" padding-right></ion-icon>{{ report.revisits }} <br>
        <ion-icon name="school" padding-right padding-left></ion-icon>{{ report.studies }} <br>
      </ion-row>
    </ion-card-content>
    <ion-row no-padding>
      <button ion-button clear small color="primary" icon-left (click)="itemSelected(report)">
        <ion-icon name='create'></ion-icon>
          Editar
        </button>
      <button ion-button clear small color="danger" icon-left>
        <ion-icon name='trash'></ion-icon>
          Remover
        </button>
    </ion-row>
  </ion-card>

</ion-content>